.git/**
.vscode-test/**
tests/**
docs/**
VSIX/**
*.vsix
node_modules/**
!node_modules/@cursor/**
!node_modules/@bufbuild/**
!node_modules/@connectrpc/**
!node_modules/@statsig/**
!node_modules/zod/**
